<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Edit Product - Dashboard Admin Template</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
  <!-- https://fonts.google.com/specimen/Roboto -->
  <link rel="stylesheet" href="/css/fontawesome.min.css" />
  <!-- https://fontawesome.com/ -->
  <link rel="stylesheet" href="jquery-ui-datepicker/jquery-ui.min.css" type="text/css" />
  <!-- http://api.jqueryui.com/datepicker/ -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" href="/css/templatemo-style.css">
  <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>

<body>








  <main style="background-color: white">



    <div class="container tm-mt-big tm-mb-big">
      <div class="col">

        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">

          <div class="bg-light tm-block tm-block-h-auto">
            {{!-- // style="background-color: white"// --}}

            <div class="row">
              <div class="col-12">
                <h2 class="d-inline-block text-dark">Edit Product</h2>
              </div>
            </div>



            <div>
              <div>
                <form action="/admin/edit-product/{{product._id}}" method="post" class="tm-edit-product-form"
                  enctype="multipart/form-data">


                  <div class="form-group mb-3">
                    <label for="name">Product Name</label>
                    <input id="Name" name="laptops" type="text" class="form-control validate"
                      value="{{product.laptops}}" required onkeyup="validateProductName()" />
                    <span id="name" class="text-danger"></span>
                  </div>


                  <div class="form-group mb-3">
                    <label for="name">Price </label>
                    <input id="price" name="Price" type="text" class="form-control" value="{{product.Price}}" required
                      onkeyup="validPrice()" />
                    <span id="Price" class="text-danger"></span>
                  </div>

                  <div class="form-group mb-3">
                    <labelfor="name">Offers </label>
                      <input id="offers" name="Offers" type="text" class="form-control validate"
                        value="{{product.Offers}}"/>
                      <span id="Offers" class="text-danger"></span>
                  </div>


                  <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <input class="form-control " rows="3" name="description" id="Discription"
                      value="{{product.description}}" required>
                    <span id="productdescription" class="text-danger"></span>
                  </div>

                  <div class="form-group mb-3">
                    <label for="description">Specifications</label>
                    <input class="form-control " rows="3" name="Specs" required value="{{product.Specs}}" id="specs">
                    <span id="Specifications" class="text-danger"></span>

                  </div>

                  <div class="form-group mb-3">
                    <label for="category">Category</label>



                    <select name="category" class="form-control" id="">
                      {{#each cat}}
                      <option value="{{this._id}}">{{this.brandname}}</option>
                      {{/each}}
                    </select>

                      <div class="form-group mb-3">
                        <label >Color</label>


                        <span id="Color" class="text-danger"></span>



                        <select  name="color" id="color" class="form-control" value="{{product.color}}">
                        

                          <option value="silver">silver</option>
                          <option value="white">white</option>

                          <option value="black">black
                          </option>
                        

                        </select>
                    
                        <datalist id="ShowDataList1">
                          <option value="silver">
                          <option value="white">

                          <option value="black">
                        </datalist>
                      </div>

                      <div class="row">

                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label for="stock">Stock </label>
                          <input id="stock" name="stock" type="text" class="form-control validate"
                            value="{{product.stock}}" required onkeyup="validStock()" />
                          <span id="Stock" class="text-danger"></span>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <label for="name">image </label>
                        <input 'imgView' name="image" type="file" multiple style="color: black">

                        <span id="" class="text-danger"></span>
                      </div>

                    </div>

                    <div class="col-12">
                      <button type="submit" class="btn btn-primary btn-block text-uppercase">Edit Product Now</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>

  </main>





























  {{!-- <div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12">
              <h2 class="tm-block-title d-inline-block">Edit Product</h2>
            </div>
          </div>
          <div class="row tm-edit-product-row">
            <div class="col-xl-6 col-lg-6 col-md-12">
              <form action="/admin/edit-product/{{product._id}}" method="post" class="tm-edit-product-form"
                enctype="multipart/form-data">
                <div class="form-group mb-3">
                  <label for="name">Product Name</label>
                  <input id="Name" name="laptops" type="text" value="{{product.laptops}}" class="form-control validate"
                    required onkeyup="validateProductName()" />
                  <span id="name" class="text-danger"></span>
                </div>

                {{!-- <div class="form-group mb-3">
                  <label for="name">Product Id</label>
                  <input id="name" name="ProductId" type="text" class="form-control validate" required />
                </div> --}}

                <div class="form-group mb-3">
                  <label for="name">Price </label>
                  <input id="price" name="Price" type="text" value="{{product.Price}}" class="form-control validate"
                    required onkeyup="validPrice()" />
                  <span id="Price" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                  <labelfor="name">Offers </label>
                    <input id="offers" name="Offers" type="text" value="{{product.Offers}}"
                      class="form-control validate" required />
                    <span id="Offers" class="text-danger"></span>
                </div>


                <div class="form-group mb-3">
                  <label for="description">Description</label>
                  <input class="form-control validate" rows="3" name="description" value="{{product.description}}"
                    id="Discription" required onkeyup="validateProductDescription()"></input>
                  <span id="productdescription" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                  <label for="description">Specifications</label>
                  <input class="form-control validate" rows="3" name="Specs" value="{{product.Specs}}" required
                    id="specs"></input>
                  <span id="Specifications" class="text-danger"></span>

                </div>

                <div class="form-group mb-3">
                  <label for="category">Category</label>

                  <input list="ShowDataList" class="form-control" value="{{product.Category}}"
                    placeholder="Search / Select" name="Category" id="Category" onkeyup="validCategory()">
                  <span id="category" class="text-danger"></span>

                  <datalist id="ShowDataList">
                    <option value="hp">
                    <option value="Lenovo">
                    <option value="Msi">
                    <option value="Acer">
                    <option value="Toshiba">
                  </datalist>
                </div>

                <div class="form-group mb-3">
                  <label for="category">Color</label>

                  <input list="ShowDataList1" class="form-control" value="color" placeholder="Search / Select"
                    id="color" name="color" onkeyup="validCategory()">
                  <span id="Color" class="text-danger"></span>

                  <datalist id="ShowDataList1">
                    <option value="white">
                    <option value="silver">

                    <option value="black">
                  </datalist>
                </div>

                <div class="row">
                  {{!-- <div class="form-group mb-3 col-xs-12 col-sm-6">
                    <label for="expire_date">Expire Date </label>
                    <input id="expire_date" name="expire_date" type="text" class="form-control validate"
                      data-large-mode="true" />
                  </div> --}}
                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                    <label for="stock">Stock </label>
                    <input id="stock" name="stock" type="text" value="{{product.stock}}" class="form-control validate"
                      required onkeyup="validStock()" />
                    <span id="Stock" class="text-danger"></span>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="name">image </label>
                  <img src="/product-images/{{product._id}}.jpg" alt="" style="width: 100px;height:auto" id="imgView">
                  <input id="" name="image" type="file" class="form-control validate" required onkeyup="validPrice()"
                    onchange="viewImage(event)" />
                  <span id="" class="text-danger"></span>
                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
              <div class="tm-product-img-dummy mx-auto">
                <i class="fas fa-cloud-upload-alt tm-upload-icon"
                  onclick="document.getElementById('fileInput').click();"></i>
              </div>
              {{!-- <div class="custom-file mt-3 mb-3">
                <input id="fileInput" type="file" style="display:none;" />
                <input type="button" class="btn btn-primary btn-block mx-auto" value="UPLOAD PRODUCT IMAGE"
                  onclick="document.getElementByI('fileInput').click();" />
              </div> --}}
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block text-uppercase">Edit Product Now</button>
            </div>














            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>2018</b> All rights reserved.

        Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
      </p>
    </div>
  </footer> --}}

  <script src="js/jquery-3.3.1.min.js"></script>
  <!-- https://jquery.com/download/ -->
  <script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
  <!-- https://jqueryui.com/download/ -->
  <script src="js/bootstrap.min.js"></script>
  <!-- https://getbootstrap.com/ -->
  <script>
    $(function () {
      $("#expire_date").datepicker({
        defaultDate: "10/22/2020"
      });
    });
  </script>

   <script>
    function viewImage(event) {
      document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
  </script>