<!DOCTYPE html>
<html lang="en">

<head>
  <title>Portal - Bootstrap 5 Admin Dashboard Template For Developers</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
  <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
  <link rel="shortcut icon" href="favicon.ico">

  <!-- FontAwesome JS-->
  <script defer src="assets/plugins/fontawesome/js/all.min.js"></script>

  <!-- App CSS -->
  <link id="theme-style" rel="stylesheet" href="assets/css/portal.css">

  
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">






<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" charset="utf8"
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>


</head>

<body class="app">


  <div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
      <div class="container-xl">

        <div class="row g-3 mb-4 align-items-center justify-content-between">
          <div class="col-auto">
            <h1 class="app-page-title mb-0">USER DETAILS</h1>
          </div>
          <div class="col-auto">
            <div class="page-utilities">
              <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                <div class="col-auto">
                  <form class="table-search-form row gx-1 align-items-center">
                    <div class="col-auto">
                      <input type="text" id="search-orders" name="searchorders" class="form-control search-orders"
                        placeholder="Search">
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn app-btn-secondary">Search</button>
                    </div>
                  </form>

                </div>
                <!--//col-->
                <div class="col-auto">

                  <select class="form-select w-auto">
                    <option selected value="option-1">All</option>
                    <option value="option-2">This week</option>
                    <option value="option-3">This month</option>
                    <option value="option-4">Last 3 months</option>

                  </select>
                </div>
                <div class="col-auto">
                  <a class="btn app-btn-secondary" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download me-1" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                      <path fill-rule="evenodd"
                        d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                    </svg>
                    Download CSV
                  </a>
                </div>
              </div>
              <!--//row-->
            </div>
            <!--//table-utilities-->
          </div>
          <!--//col-auto-->
        </div>
        <!--//row-->



        <div class="tab-content" id="orders-table-tab-content">
          <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
            <div class="app-card app-card-orders-table shadow-sm mb-5">
              <div class="app-card-body">
                <div class="table-responsive">
                  <table class="table app-table-hover mb-0 text-left" id="myTable">
                    <thead>
                      <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>


                      {{!--
                      ----------------------------------------------------------------------------------------------------------------------------------------
                      --}}

                      {{#each user}}

                      <tr>
                        

                         <td>{{indexing @index results.currentPage results.limit}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.number}}</td>
                        {{#if signupstatus}}

                        <td><a href="/admin/user-block/{{this._id}}" class="btn btn-primary"
                            onclick="return confirm('Are you sure you want to block {{this.name}}')">Block</a></td>
                        {{else}}
                        <td><a href="/admin/user-unblock/{{this._id}}" class="btn btn-primary"
                            onclick="return confirm('Are you sure you want to unblock {{this.name}}')">Unblock</a></td>

                        {{/if}}

                      </tr>
                      {{/each}}


                      {{!--
                      ------------------------------------------------------------------------------------------------------------
                      --}}
                    </tbody>
                  </table>
                </div>
                <!--//table-responsive-->

              </div>
              <!--//app-card-body-->
            </div>
            <!--//app-card-->
            <nav class="app-pagination">
              <ul class="pagination justify-content-center">

                                {{#ifEquals '1' results.currentPage false}}
                                <li class="page-item disabled">
                                    <a class="page-link" href="/admin/viewuser/?page={{../previous.page}}" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                {{else}}
                                 <li class="page-item ">
                                    <a class="page-link" href="/admin/viewuser/?page={{../previous.page}}" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                {{/ifEquals}}
									{{#each results.pages}}
									{{#ifEquals ../currentPage this false}}

                                <li class="page-item active"><a class="page-link" href="/admin/viewuser/?page={{../this}}">{{../this}}</a></li>
                                {{else}}
                                   <li class="page-item active"><a class="page-link" href="/admin/viewuser/?page={{../this}}">{{../this}}</a></li>
                                   {{/ifEquals}}
									{{/each}}
									{{#ifEquals results.pageCount results.currentPage false}}
                              

                                <li class="page-item disabled">
                                    <a class="page-link" href="/admin/viewuser/?page={{../next.page}}">Next</a>
                                </li>
                                {{else}}
                                  <li class="page-item">
                                    <a class="page-link" href="/admin/viewuser/?page={{../next.page}}">Next</a>
                                </li>
                                {{/ifEquals}}


          

              </ul>
            </nav>
           

          </div>

          <div class="tab-pane fade" id="orders-paid" role="tabpanel" aria-labelledby="orders-paid-tab">
            <div class="app-card app-card-orders-table mb-5">
              <div class="app-card-body">
                <div class="table-responsive">

                  <table class="table mb-0 text-left">
                    <thead>
                      <tr>
                        <th class="cell">Order</th>
                        <th class="cell">Product</th>
                        <th class="cell">Customer</th>
                        <th class="cell">Date</th>
                        <th class="cell">Status</th>
                        <th class="cell">Total</th>
                        <th class="cell"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="cell">#15346</td>
                        <td class="cell"><span class="truncate">Lorem ipsum dolor sit amet eget volutpat erat</span>
                        </td>
                        <td class="cell">John Sanders</td>
                        <td class="cell"><span>17 Oct</span><span class="note">2:16 PM</span></td>
                        <td class="cell"><span class="badge bg-success">Paid</span></td>
                        <td class="cell">$259.35</td>
                        <td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
                      </tr>

                      <tr>
                        <td class="cell">#15344</td>
                        <td class="cell"><span class="truncate">Pellentesque diam imperdiet</span></td>
                        <td class="cell">Teresa Holland</td>
                        <td class="cell"><span class="cell-data">16 Oct</span><span class="note">01:16 AM</span></td>
                        <td class="cell"><span class="badge bg-success">Paid</span></td>
                        <td class="cell">$123.00</td>
                        <td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
                      </tr>

                      <tr>
                        <td class="cell">#15343</td>
                        <td class="cell"><span class="truncate">Vestibulum a accumsan lectus sed mollis ipsum</span>
                        </td>
                        <td class="cell">Jayden Massey</td>
                        <td class="cell"><span class="cell-data">15 Oct</span><span class="note">8:07 PM</span></td>
                        <td class="cell"><span class="badge bg-success">Paid</span></td>
                        <td class="cell">$199.00</td>
                        <td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
                      </tr>


                      <tr>
                        <td class="cell">#15341</td>
                        <td class="cell"><span class="truncate">Morbi vulputate lacinia neque et sollicitudin</span>
                        </td>
                        <td class="cell">Raymond Atkins</td>
                        <td class="cell"><span class="cell-data">11 Oct</span><span class="note">11:18 AM</span></td>
                        <td class="cell"><span class="badge bg-success">Paid</span></td>
                        <td class="cell">$678.26</td>
                        <td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
                      </tr>
                      {{!--
                      ------------------------------------------------------------------------------------------------------------------------------------------
                      --}}
                    </tbody>
                  </table>
                </div>
                <!--//table-responsive-->
              </div>
              <!--//app-card-body-->
            </div>
            <!--//app-card-->
          </div>
          <!--//tab-pane-->

          <div class="tab-pane fade" id="orders-pending" role="tabpanel" aria-labelledby="orders-pending-tab">
            <div class="app-card app-card-orders-table mb-5">
              <div class="app-card-body">
                <div class="table-responsive">
                  <table class="table mb-0 text-left">
                    <thead>
                      <tr>
                        <th class="cell">Order</th>
                        <th class="cell">Product</th>
                        <th class="cell">Customer</th>
                        <th class="cell">Date</th>
                        <th class="cell">Status</th>
                        <th class="cell">Total</th>
                        <th class="cell"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="cell">#15345</td>
                        <td class="cell"><span class="truncate">Consectetur adipiscing elit</span></td>
                        <td class="cell">Dylan Ambrose</td>
                        <td class="cell"><span class="cell-data">16 Oct</span><span class="note">03:16 AM</span></td>
                        <td class="cell"><span class="badge bg-warning">Pending</span></td>
                        <td class="cell">$96.20</td>
                        <td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--//table-responsive-->
              </div>
              <!--//app-card-body-->
            </div>
            <!--//app-card-->
          </div>
          <!--//tab-pane-->
          <div class="tab-pane fade" id="orders-cancelled" role="tabpanel" aria-labelledby="orders-cancelled-tab">
            <div class="app-card app-card-orders-table mb-5">
              <div class="app-card-body">
                <div class="table-responsive">
                  <table class="table mb-0 text-left">
                    <thead>
                      <tr>
                        <th class="cell">Order</th>
                        <th class="cell">Product</th>
                        <th class="cell">Customer</th>
                        <th class="cell">Date</th>
                        <th class="cell">Status</th>
                        <th class="cell">Total</th>
                        <th class="cell"></th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td class="cell">#15342</td>
                        <td class="cell"><span class="truncate">Justo feugiat neque</span></td>
                        <td class="cell">Reina Brooks</td>
                        <td class="cell"><span class="cell-data">12 Oct</span><span class="note">04:23 PM</span></td>
                        <td class="cell"><span class="badge bg-danger">Cancelled</span></td>
                        <td class="cell">$59.00</td>
                        <td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <!--//table-responsive-->
              </div>
              <!--//app-card-body-->
            </div>
            <!--//app-card-->
          </div>
          <!--//tab-pane-->
        </div>
        <!--//tab-content-->



      </div>
      <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <footer class="app-footer">
      <div class="container text-center py-3">
        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"
            style="color: #fb866a;"></i> by <a class="app-link" href="http://themes.3rdwavemedia.com"
            target="_blank">Xiaoying Riley</a> for developers</small>

      </div>
    </footer>
    <!--//app-footer-->

  </div>
  <!--//app-wrapper-->


  <!-- Javascript -->
  <script src="assets/plugins/popper.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>


  <!-- Page Specific JS -->
  <script src="assets/js/app.js"></script>
  <script>



    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>

</body>

</html>











































































{{!--


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
  <!-- https://fonts.google.com/specimen/Roboto -->
  <link rel="stylesheet" href="/css/fontawesome.min.css" />
  <!-- https://fontawesome.com/ -->
  <link rel="stylesheet" href="jquery-ui-datepicker/jquery-ui.min.css" type="text/css" />
  <!-- http://api.jqueryui.com/datepicker/ -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" href="/css/templatemo-style.css">

</head>

<body>






  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">






  <script type="text/javascript" charset="utf8"
    src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>





  <div class="container mt-5" style="background-color:white !important;">



    <div class="bg-light tm-block tm-block-products">
      <div class="tm-product-table-container">



        <table class="table  tm-table-small tm-product-table" id="myTable" style="color: black !important;">


          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>

              <th scope="col">Phone Number</th>
              <th scope="col">Delete</th>


            </tr>
          </thead>
          <tbody>
            {{#each allusers}}





            <tr>

              <td>{{this.name}}</td>
              <td>{{this.email}}</td>
              <td>{{this.number}}</td>




              {{#if signupstatus}}

              <td><a href="/admin/user-block/{{this._id}}" class="btn btn-primary"
                  onclick="return confirm('Are you sure you want to block {{this.name}}')">Block</a></td>
              {{else}}
              <td><a href="/admin/user-unblock/{{this._id}}" class="btn btn-primary"
                  onclick="return confirm('Are you sure you want to unblock {{this.name}}')">Unblock</a></td>

              {{/if}}



            </tr>
            {{/each}}

            {{!-- <button class='btn btn-info'><a href="/admin/logout"
                style="color:white ; text-decoration: none;">Logout</a> </button> --}}

          </tbody>
        </table>


      </div>

      <script>



        $(document).ready(function () {
          $('#myTable').DataTable();
        });

      </script>


</body>

</html>
--}}