<!DOCTYPE html>
<html lang="en">


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">

                    </div><!-- End .header-left -->


                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>


                    </div><!-- End .header-left -->

                    <div class="header-right">



                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="cart">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <table class="table table-cart table-mobile">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    {{!-- --------------------each loop------------------------------------ --}}
                                    <tbody>
                                        {{#each products}}
                                        <tr>

                                            {{!-- first product was arrow --}}
                                            <td class="product-col">
                                                <div class="product">
                                                    <figure class="product-media">
                                                        <a href="#">
                                                            <img src="/images/product/{{this.product.img.[0]}}"
                                                                alt="Product image">
                                                        </a>
                                            </td>
                                            </figure>


                                            <h3 class="product-title">
                                                <td><a href="#">{{this.product.laptops}}</a>
                                            </h3><!-- End .product-title -->
                            </div><!-- End .product -->
                            </td>
                            <td class="price-col " id="{{this.product._id}}price">{{this.product.Price}}</td>
                            {{!-- {{/each}} --}}
                            <td class="quantity-col">
                                {{!-- <div class="cart-product-quantity"> --}}
                                    <button class="cart-item-count mr-3"
                                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                                    <span id="{{this.product._id}}">{{this.quantity}}</span>
                                    <button class="cart-item-count ml-3"
                                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                                    {{!-- <input type="number" class="form-control" value="{{this.product.quantity}}"
                                        required> --}}
                                    {{!--
                                </div> --}}
                                <!-- End .cart-product-quantity -->
                            </td>
                            <td class="total-col">
                                <span id="{{this.product._id}}total">{{this.total}}</span>
                            </td>
                            <td class="remove-col"> <button class="btn btn-danger"
                                    onclick="removeProduct('{{this._id}}','{{this.product._id}}')">Remove</button>
                            </td>
                            {{!-- <button class="btn btn-danger">Remove</button> --}}
                            </tr>
                            {{/each}}



                            </tbody>
                            </table>
                            <hr>
                            <h4 class="float-right mr-5 mt-4">
                            </h4>

                            <!-- End .table table-wishlist -->

                            <div class="cart-bottom">
                                <div class="cart-discount">
                                    <form action="/couponincart" method="post" id="coupon-code">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="couponcode" required
                                                placeholder="coupon code">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary-2" type="submit"><i
                                                        class="icon-long-arrow-right"></i></button>

                                                         <button class="btn btn-outline-primary-2" 

                onclick="deleteCoupon('{{discounts.[0]._id}}')">

                <i class="bi bi-trash"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg></i></a></button>
               
                                            </div><!-- .End .input-group-append -->
                                        </div><!-- End .input-group -->
                                    </form>
                                </div><!-- End .cart-discount -->

                                <a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i
                                        class="icon-refresh"></i></a>
                            </div><!-- End .cart-bottom -->
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary summary-cart">
                                <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <tbody>

                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td><span id="grand">{{grandTotal}}</span></td>
                                        </tr>


                                        <!-- End .summary-subtotal -->
                                        <tr class="summary-shipping">
                                            <td>Discount Price:</td>
                                            <td><span id="discPrice">{{discount.discountedPrice}}</span>&nbsp;</td>
                                        </tr>
                                        <tr class="summary-shipping">
                                            <td>Total:</td>
                                            <td><span id="totalAfterdisc">{{discount.TotalAfterDiscount}}</span>&nbsp;
                                            </td>
                                        </tr>


                                        <tr class="summary-shipping-row">
                                            <td>
                                                {{!-- {{#if discounts.discountedPrice}} --}}
                                                <p class="custom-control-label"></p>
                                                {{!-- {{/if}} --}}

                                            </td>
                                            {{!-- <td>$0.00</td> --}}
                                        </tr><!-- End .summary-shipping-row -->





                                    </tbody>
                                </table><!-- End .table table-summary -->
                                {{!-- <a href="" class="float-right btn btn-success">Place Order</a> --}}

                              
                                  <a href="/place-order" class="btn btn-outline-primary-2 btn-order btn-block" id="stockfinished" style="display:none"> SORRY,STOCK FINISHED
                                    </a>
                                 


                               {{#if grandTotal}}
                                <a href="/place-order" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO
                                    CHECKOUT</a>
                                    {{else}}
                                    {{/if}}

                            </div><!-- End .summary -->

                            
                             {{!-- {{#each products}}
                            <a href="category.html" class="btn btn-success"><span id="stockLeft" class="">Only  {{this.product.stock}} Stock Left
                                    </span><i class="icon-refresh"></i></a>
                                    {{/each}} --}}


                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cart -->
    </div><!-- End .page-content -->
    </main><!-- End .main -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <script>
        document.getElementById('totalAfterdisc').innerHTML = discount.TotalAfterDiscount
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>



      {{!-- <script>
         function changeQuantity(cartId,productId,userid,count){
                console.log('>>>>>>>>>>>>')
                console.log(cartId)
                console.log(productId) 
                console.log(userid)       
                console.log(count)
                
                 let qty = document.getElementById(productId).innerHTML
                 let Price = document.getElementById(productId + 'price').innerHTML
                 console.log(qty)
                 console.log(Price)

            
            qty = parseInt(qty)
            count = parseInt(count)
            Price = parseInt(Price)

    
             fetch('change-product-quantity',{
            method:'put',
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify({cartId:cartId, productId: productId,count:count,qty:qty,Price:Price})
        }).then(res=>
        {

                             if (response.response) {  
                                     

                        if (response.discount) {       
                            console.log(response)
                                 

                            console.log('clicked')
                            document.getElementById(productId).innerHTML = qty + count
                           

                            Price = parseInt(Price)
                            document.getElementById(productId + 'total').innerHTML = document.getElementById(productId).innerHTML * Price
                            document.getElementById('grand').innerHTML = response.grandTotal
                            grandTotal = document.getElementById('grand').innerHTML

                            console.log('+++++++++')
                            console.log(qty + count)
                            discCount=qty + count
                             console.log(discCount)
                             console.log(response.discount.discountedPrice)
                             console.log(document.getElementById('discPrice').innerHTML)
                             console.log(grandTotal)
                            console.log('++++++++++')
                            document.getElementById('discPrice').innerHTML = discCount* response.discount.discountedPrice
                            document.getElementById('totalAfterdisc').innerHTML = grandTotal - document.getElementById('discPrice').innerHTML

            if (res.ok){
                console.log('success')
                }
            else{
                console.log('failed')
                }
            return res;
       
        }
        ).then(res=>{
            console.log(res)
           
            })
    }
      </script> --}}






    <script>
        function changeQuantity(cartId, productId, userId, count) {
            let qty = document.getElementById(productId).innerHTML
            let Price = document.getElementById(productId + 'price').innerHTML


            qty = parseInt(qty)
            count = parseInt(count)
            Price = parseInt(Price)

            $.ajax({
                url: '/change-product-quantity',
                data: {

                    cart: cartId,
                    product: productId,
                    user: userId,
                    count: count,
                    qty: qty
                },
                method: 'post',
                success: (response) => {


                    if (response.response) {  
                             //ivide response true aanenn set cheythittund                    

                        if (response.discount) {       //so response.response 
                            
                            document.getElementById(productId).innerHTML = qty + count
                            Price = parseInt(Price)
                            document.getElementById(productId + 'total').innerHTML = document.getElementById(productId).innerHTML * Price
                            document.getElementById('grand').innerHTML = response.grandTotal
                            grandTotal = document.getElementById('grand').innerHTML                           
                            discCount=qty + count
                            document.getElementById('discPrice').innerHTML = discCount* response.discount.discountedPrice
                            document.getElementById('totalAfterdisc').innerHTML = grandTotal - document.getElementById('discPrice').innerHTML
                           



                        } else {
                           
                            document.getElementById(productId).innerHTML = qty + count
                            Price = parseInt(Price)
                            document.getElementById(productId + 'total').innerHTML = document.getElementById(productId).innerHTML * Price
                            document.getElementById('grand').innerHTML = response.grandTotal
                            grandTotal = document.getElementById('grand').innerHTML

                        }

                    }
                    else {

                       
                      removeProduct()

                        {{!-- let stock=document.getElementById('stockLeft').innerHTML
                        document.getElementById('stockfinished').style.display="block" --}}

                       
                    }
                }
            })
        }

    </script>



    <script>
        function removeProduct(cartId, proId) {
            $.ajax({
                url: '/remove-cart',
                data: {
                    cart: cartId,
                    product: proId
                },
                method: 'post',
                success: (response) => {

                    alert("product removed from cart")
                    location.reload()

                }
            })
        }
    </script>






    <script>
        $("#coupon-code").submit((e) => {
            e.preventDefault()
            $.ajax({
                url: '/couponincart',
                method: 'post',
                data: $("#coupon-code").serialize(),
                success: (response) => {
                    console.log(response)
                   
                    if (response.findCoupon) {

                        if (response.expired) {
                            console.log('coupon expired')
                            swal.fire(response.errMessage, "", "warning")
                        } else {
                            if (response.alreadyUsed) {
                                console.log('coupon already used')
                                swal.fire(response.errMessage, "", "warning")
                            } else {
                
                                let couponPrice = response.couponPrice
                                let discountPrice = response.discountPrice                              
                                document.getElementById('discPrice').innerHTML = discountPrice
                                document.getElementById('totalAfterdisc').innerHTML = couponPrice
                            }
                        }
                    }
                    else {
                        console.log('no coupon ')
                        swal.fire(response.errMessage, "", "warning")
                    }
                }
            })
        })

    </script>


<script>
    function deleteCoupon(couponId){
        console.log(couponId)
        $.ajax({
            url:'/deletecoupon',
            data:{
                couponid:couponId

            },
            method:'post',
            success:(response)=>{
                 alert('coupon is going to delete')

            }
           

            
        })
    }
</script>
    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

</body>


</html>