<!DOCTYPE html>
<html lang="en">




<head>
</head>

<body>
    <div class="page-wrapper">

<!-- End .header -->

        <main class="main">
            <div class="intro-section pt-3 pb-3 mb-2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="intro-slider-container slider-container-ratio mb-2 mb-lg-0">
                                <div class="intro-slider owl-carousel owl-simple owl-dark owl-nav-inside"
                                    data-toggle="owl" data-owl-options='{
                                        "nav": false, 
                                        "dots": true,
                                        "responsive": {
                                            "768": {
                                                "nav": true,
                                                "dots": false
                                            }
                                        }
                                    }'>
                                    <div class="intro-slide">
                                        <figure class="slide-image">
                                            <picture>
                                                <source media="(max-width: 480px)"
                                                    srcset="assets/images/demos/demo-3/slider/slide-1-480w.jpg">
                                                <img src="assets/images/demos/demo-3/slider/slide-1.jpg"
                                                    alt="Image Desc">
                                            </picture>
                                        </figure><!-- End .slide-image -->

                                        <div class="intro-content">
                                            <h3 class="intro-subtitle text-primary">Daily Deals</h3>
                                            <!-- End .h3 intro-subtitle -->
                                            <h1 class="intro-title">
                                                AirPods <br>Earphones
                                            </h1><!-- End .intro-title -->

                                            <div class="intro-price">
                                                <sup>Today:</sup>
                                                <span class="text-primary">
                                                    $247<sup>.99</sup>
                                                </span>
                                            </div><!-- End .intro-price -->

                                            <a href="category.html" class="btn btn-primary btn-round">
                                                <span>Click Here</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </a>
                                        </div><!-- End .intro-content -->
                                    </div><!-- End .intro-slide -->

                                    <div class="intro-slide">
                                        <figure class="slide-image">
                                            <picture>
                                                <source media="(max-width: 480px)"
                                                    srcset="assets/images/demos/demo-3/slider/slide-2-480w.jpg">
                                                <img src="assets/images/demos/demo-3/slider/slide-2.jpg"
                                                    alt="Image Desc">
                                            </picture>
                                        </figure><!-- End .slide-image -->

                                        <div class="intro-content">
                                            <h3 class="intro-subtitle text-primary">Deals and Promotions</h3>
                                            <!-- End .h3 intro-subtitle -->
                                            <h1 class="intro-title">
                                                Echo Dot <br>3rd Gen
                                            </h1><!-- End .intro-title -->

                                            <div class="intro-price">
                                                <sup class="intro-old-price">$49,99</sup>
                                                <span class="text-primary">
                                                    $29<sup>.99</sup>
                                                </span>
                                            </div><!-- End .intro-price -->

                                            <a href="category.html" class="btn btn-primary btn-round">
                                                <span>Click Here</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </a>
                                        </div><!-- End .intro-content -->
                                    </div><!-- End .intro-slide -->
                                </div><!-- End .intro-slider owl-carousel owl-simple -->

                                <span class="slider-loader"></span><!-- End .slider-loader -->
                            </div><!-- End .intro-slider-container -->
                        </div><!-- End .col-lg-8 -->

                        <div class="col-lg-4">
                            <div class="intro-banners">
                                <div class="banner mb-lg-1 mb-xl-2">
                                    <a href="#">
                                        <img src="assets/images/demos/demo-3/banners/banner-1.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content">
                                        <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">Top Product</a>
                                        </h4><!-- End .banner-subtitle -->
                                        <h3 class="banner-title"><a href="#">Edifier <br>Stereo Bluetooth</a></h3>
                                        <!-- End .banner-title -->
                                        <a href="#" class="banner-link">Shop Now<i
                                                class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->


{{!-- --------------------------------------BANNER------------------------------------------------- --}}


 


                                

                                <div class="banner mb-lg-1 mb-xl-2">
                                    <a href="#">
                                        <img src="assets/images/demos/demo-3/banners/banner-2.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content">
                                        <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">Clearance</a></h4>
                                        <!-- End .banner-subtitle -->
                                        <h3 class="banner-title"><a href="#">GoPro - Fusion 360 <span>Save
                                                    $70</span></a></h3><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Shop Now<i
                                                class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->

                                <div class="banner mb-0">
                                    <a href="#">
                                        <img src="assets/images/demos/demo-3/banners/banner-3.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content">
                                        <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">Featured</a></h4>
                                        <!-- End .banner-subtitle -->
                                        <h3 class="banner-title"><a href="#">Apple Watch 4 <span>Our Hottest
                                                    Deals</span></a></h3><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Shop Now<i
                                                class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .intro-banners -->
                        </div><!-- End .col-lg-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .intro-section -->



            




            



            <div class="container">
                
          
                <div class="row justify-content-center">



                {{#each category}}

                <div class="col-2  ">

                    <a href="/categoryselect/?category={{this._id}}">
                        <figurey>
                            <div class="thumbnail">
                                <div>{{this.brandname}}</div>
                                <img src="/images/product/{{this.img.[0]}}" style="width: 130px; height: 90px;"
                                    alt="Banner">
                            </div>

                        </figurey>
                    </a>


                </div><!-- End .col-md-6 -->

                {{/each}}
               


  <style>

 figurey {
    width: 100px;
    height: 100px;
  }
  .thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .thumbnail > img {
    max-width: 100%;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .thumbnail div {
    position: absolute;
    background: #fff;
    color:#FDCC74;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.1s ease;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    z-index: 2;
    border-style: solid;
    border-color: #FDCC74;
  }
  
  .thumbnail:hover > img {
    transform: scale(1.3);
  }
  
  .thumbnail:hover > div {
    opacity: 1;
  }

           </style>
            </div>
               </div><!-- End .container -->
                      </div>




            

            <div class="container">
                <hr class="mt-3 mb-6">
            </div><!-- End .container -->

            <div class="container trending">
                <div class="heading heading-flex mb-3">
                    <div class="heading-left">
                        <h2 class="title">Trending Products</h2><!-- End .title -->
                    </div><!-- End .heading-left -->


                </div><!-- End .heading -->



                    <div class="col-xl-4-5col">




                        <section class="container mt-5 ">
                            <div class="row ">






             <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel" aria-labelledby="top-all-link"></div>
                            <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                    data-owl-options='{
                                "nav": true, 
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                    {{#each products}}
                     <div class="product product-2">
                        <figure class="product-media">

                            <a href="/product/{{this._id}}">
                                <img style="width: 210px; height:200px" src="/images/product/{{this.img.[0]}}"
                                    alt="Product image" class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="/wishlist/{{this._id}}" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist</span></a>
                            </div><!-- End .product-action -->

                            <div class="product-action product-action-dark">
                                 <div class="product-action product-action-dark text-center">
                                            <a href="/add-to-cart/{{this._id}}">ADD TO CART  </a>
                                {{!-- <a href="popup/quickView.html" class="btn-product btn-quickview"
                                    title="Quick view"><span>quick view</span></a> --}}
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->
                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">laptops</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">{{this.laptops}}</a></h3>
                            <!-- End .product-title -->
                            <div>

                            

                                                    {{#if this.originalPrice}}
                                                <div class="product-price text-danger">
                                                    
                                                      ₹<s>{{this.originalPrice}}</s><br>
                                                       </div>
                                                       <div style="align-items:center; flex-flow:wrap; font-weight:400; font-size:1.6rem; line-height:1.25; color:#fcb941">
                                                       Price:₹{{this.Price }}
                                                      </div>
                                                          {{else}}
                                                            <div class="product-price">
                                                             Price:₹{{this.Price}}                                                                                                                                                                                              
                                                           </div><!-- End .product-price -->
                                                           {{/if}}                              
                            </div><!-- End .product-price -->                         
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                    {{/each}}
                </div>

                        </section>
                   </div><!-- End .tab-content -->
                </div><!-- End .col-xl-4-5col -->
            </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="container">
        <hr class="mt-5 mb-6">
    </div><!-- End .container -->






{{!-- -----------------------------------------------TOP SELLING PRODUCTS------------------------------------------------------------------ --}}

    <div class="container top">
        
        <div class="heading heading-flex mb-3">
           

        </div><!-- End .heading -->






        <div class="tab-content tab-content-carousel just-action-icons-sm">
            <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel" aria-labelledby="top-all-link">
                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                    data-owl-options='{
                                "nav": true, 
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                    {{#each products}}
                     <div class="product product-2">
                        <figure class="product-media">

                            <a href="/product/{{this._id}}">
                                <img style="width: 210px; height:200px" src="/images/product/{{this.img.[0]}}"
                                    alt="Product image" class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist</span></a>
                            </div><!-- End .product-action -->

                            <div class="product-action product-action-dark">
                                 <div class="product-action product-action-dark">
                                            <a href="/add-to-cart/{{this._id}}">ADD TO CART</a>
                                <a href="popup/quickView.html" class="btn-product btn-quickview"
                                    title="Quick view"><span>quick view</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->
                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">laptops</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">{{this.laptops}}</a></h3>
                            <!-- End .product-title -->
                                                        <div style="align-items:center; flex-flow:wrap; font-weight:400; font-size:1.6rem; line-height:1.25; color:#fcb941">
                                                     {{#if this.originalPrice}}
                                                <div class="product-price text-danger">
         
                                                      ₹<s>{{this.originalPrice}}</s></div>
                                                       <div>
                                                       Price:₹{{this.Price}}
                                                      </div>
                                                                                                            
                                                          {{else}}
                                                            <div class="product-price">
                                                             Price:₹{{this.Price}}                                                                                                                                                                                              
                                                           </div>
                                                           {{/if}} 
                                                            </div>                              
                           
                           
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                    {{/each}}
                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->










        </div><!-- End .tab-content -->
    </div><!-- End .container -->

    <div class="container">
        <hr class="mt-5 mb-0">
    </div><!-- End .container -->


    </main><!-- End .main -->

















<!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>



            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab"
                        role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab"
                        aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                    aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li class="active">
                                <a href="/">Home</a>


                            </li>

                            <li>
                                <a href="/product-page" class="sf-with-ul">Product</a>

                            </li>
                            <li>
                                <a href="#">Account</a>
                                <ul>
                                    <li>
                                        <a href="about.html">About</a>


                                    </li>
                                    <li>
                                        <a href="contact.html">Profile</a>


                                    </li>
                                    <li><a href="/address">Address</a></li>
                                    <li><a href="/wishlist-page">Wishlist</a></li>
                                    <li><a href="/order-page">Orders</a></li>
                                    
                                </ul>
                            </li>

                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                    <nav class="mobile-cats-nav">

                    </nav><!-- End .mobile-cats-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->





  
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.plugin.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/demos/demo-3.js"></script> 

</html>