 <!DOCTYPE html>
<html lang="en">


<!-- molla/wishlist.html  22 Nov 2019 09:55:05 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="page-wrapper">


        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Order History</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        
                        <li class="breadcrumb-item active" aria-current="page">Order History</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <table class="table table-wishlist table-mobile">
                        <thead>
                            <tr>

                              
                                <th>User</th>                              
                                <th>PaymentMethod</th>
                                 <th>discount</th>
                                  <th>discountedPrice</th>
                                  <th>Date</th>
                                   <th>PaymentStatus</th>
                                    <th>0rderDetails</th>
                                 {{!-- <th>quantity</th> --}}
                                                            
                              
                                
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orderHistory}}
                            <tr>

                                 <td class="price-col">{{this.deliverydetails.name}}</td>
                                <td class="price-col">{{this.paymentMethod}}</td>
                                <td class="price-col">{{this.discountedPrice}}</td>
                                <td class="price-col">{{this.totalAmount}}</td>
                                <td class="price-col" >{{this.date}}</td>
                                <td class="price-col">{{this.status}}</td>
                                 <td class="price-col"><a href="/orderDetails/{{this._id}}" class="btn btn-primary">0rderDetails</a></td>
                                {{!-- <td class="price-col">{{this.products.quantity}}</td> --}}



                                {{#ifEquals this.status "Delivered" false}}
                                <td class="remove-col"> <a href="/return-product/?orderid={{this._id}}&productid={{this.product._id}}" class="btn btn-primary"
                                      >Return</a>
                                </td>
                                {{/ifEquals}}
                                 {{#ifEquals this.status "confirmed" false}}
                                                                <td class="remove-col"> <button class="btn btn-success"
                                        onclick="CancelProduct('{{this._id}}','{{this.product._id}}','{{this.quantity}}')">Cancel</button>
                                </td>
                                {{/ifEquals}}
                                {{#ifEquals this.status "Return-requested" false}}
                                                                {{!-- <td class="remove-col"> <button class="btn btn-primary"
                                        onclick="CancelProduct('{{this._id}}','{{this.product._id}}','{{this.quantity}}')">Cancel</button>
                                </td> --}}
                                {{/ifEquals}}
                               

                                {{!-- {{#if returnStatus}}

                                <td class="remove-col"> <a href="/return-product/?orderid={{this._id}}&productid={{this.product._id}}" class="btn btn-primary"
                                      >Return</a>
                                </td>
                                

                                {{else}}

                                   {{#unless cancelStatus}}
                                <td class="remove-col"> <button class="btn btn-danger"
                                        onclick="CancelProduct('{{this._id}}','{{this.product._id}}','{{this.quantity}}')">Cancel</button>
                                </td>
                                  {{/unless}}
                                  {{/if}} --}}

                            </tr>
                            {{/each}}
                            </td>
                        </tbody>
                    </table><!-- End .table table-wishlist -->






                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>



            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

  











    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>




</body>


<!-- molla/wishlist.html  22 Nov 2019 09:55:06 GMT -->

</html>