<!DOCTYPE html>
<html lang="en">


<!-- molla/product.html  22 Nov 2019 09:54:50 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/plugins/nouislider/nouislider.css">
</head>









<body>
    <div class="page-wrapper">


        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                     
                    </ol>

                    <nav class="product-pager ml-auto" aria-label="Product">
                        <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                            <i class="icon-angle-left"></i>
                            <span>Prev</span>
                        </a>

                        <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                            <span>Next</span>
                            <i class="icon-angle-right"></i>
                        </a>
                    </nav><!-- End .pager-nav -->
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">




<div class="row">
                 <div class="col-lg-3 col-md-3">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item ">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                <div class="product_thumb_pic set-bg" data-setbg="{{products.img.[0]}}">
                                    <img src="/images/product/{{products.img.[0]}}" alt="" >
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                <div class="product_thumb_pic set-bg" data-setbg="{{products.img.[1]}}">
                                    <img src="/images/product/{{products.img.[1]}}" alt="" >
                                </div>
                            </a>
                        </li>
                        <li class="nav-item border">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                <div class="product_thumb_pic set-bg" data-setbg="{{products.img.[2]}}">
                                    <img src="/images/product/{{products.img.[2]}}" alt="">
                                </div>
                            </a>
                        </li>
                         <li class="nav-item border">
                            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                <div class="product_thumb_pic set-bg" data-setbg="{{products.img.[3]}}">
                                    <img src="/images/product/{{products.img.[3]}}" alt="">
                                </div>
                            </a>
                        </li>


                    </ul>
                </div>

                <div class="col-lg-6 col-md-9">
                    <div class="tab-content" >
                        <div class="tab-pane active" id="tabs-1" role="tabpanel" >
                            <div class="product_detailspic_item" >
                                <img src="/images/product/{{products.img.[0]}}" class="zoom_05" data-zoom-image="/images/product/{{products.img.[0]}}" alt="">
                            </div>
                        </div>


                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product_detailspic_item">
                                <img src="/images/product/{{products.img.[1]}}" class="zoom_05" data-zoom-image="/images/product/{{products.img.[1]}}" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product_detailspic_item">
                                <img src="/images/product/{{products.img.[2]}}" class="zoom_05" data-zoom-image="/images/product/{{products.img.[2]}}" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <div class="product_detailspic_item">
                                <img src="/images/product/{{products.img.[3]}}" class="zoom_05" data-zoom-image="/images/product/products.img.[3]" alt="">
                            </div>
                        </div>
                    </div>
                </div> 

            </div>







                                    {{!-- <div class="row">
                                        <figure class="product-main-image">
                                            <img class="image-myran" src="/images/product/{{products.img.[0]}}"   data-zoom-image="/images/product/{{products.img.[0]}}">

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <a class="product-gallery-item active" href="#" data-image="/images/product/{{products.img.[0]}}" data-zoom-image="">
                                                <img class="image-myran" src="/images/product/{{products.img.[0]}}" alt="product side">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="/images/product/{{products.img.[1]}}" data-zoom-image="">
                                                <img class="image-myran" src="/images/product/{{products.img.[1]}}" alt="product cross">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="/images/product/{{products.img.[2]}}" data-zoom-image="">
                                                <img src="/images/product/{{products.img.[2]}}" alt="product with model">
                                            </a>

                                            
                                        </div><!-- End .product-image-gallery -->
                                    </div> --}}





                                    {{!-- <div class="row">
                                        
                                        <figure class="product-main-image">

                                            <img class="image-myran" src="/images/product/{{products.img.[0]}}" data-zoom-image="/images/product/{{products.img.[0]}}" >

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <a class="product-gallery-item active" href="#" data-image="/images/product/{{products.img.[0]}}" >
                                                <img src="/images/product/{{products.img.[0]}}" alt="product side">
                                            </a>

                                            <a class="product-gallery-item " href="#" data-image="/images/product/{{products.img.[1]}}"  >
                                                <img src="/images/product/{{products.img.[1]}}" alt="product cross">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="/images/product/{{products.img.[2]}}" >
                                                <img src="/images/product/{{products.img.[2]}}" alt="product with model">
                                            </a></div>
                                             </div><!-- End .row --> --}}

                                            {{!-- <a class="product-gallery-item" href="#" data-image="/product-images/{{products._id}}.jpg" data-zoom-image="/product-images/{{products._id}}.jpg">
                                                <img src="/product-images/{{products._id}}.jpg" alt="product back">
                                            </a> --}}
                                        <!-- End .product-image-gallery -->
                                   
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title">{{products.laptops}}</h1><!-- End .product-title -->

                                    {{!-- <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                                    </div><!-- End .rating-container --> --}}

                                    <div  id="{{products._id}}price" >
                                         {{!-- <td class="price-col " id="{{this.product._id}}price">{{this.product.Price}}</td> --}}
                                                   {{#if products.originalPrice}}
                                                <div class="text-danger" style="align-items:center; flex-flow:wrap; font-weight:400; font-size:1.6rem; line-height:1.25;">
                                                    
                                                      ₹<s>{{products.originalPrice}}</s><br>
                                                       </div>
                                                       <div  class="product-price">
                                                       Price:₹{{products.Price }}
                                                      </div>
                                                          {{else}}
                                                            <div class="product-price">
                                                             Price:₹{{products.Price}}                                                                                                                                                                                              
                                                           </div><!-- End .product-price -->
                                                           {{/if}}  
                                    {{!-- {{products.Price}} --}}
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <p>{{products.description}}</p>
                                    </div><!-- End .product-content -->
{{!-- -----------------------------------------------quantity displaying page----------------------------------------------------------------------- --}}

{{!-- -----------------------------------------------quantity displaying page----------------------------------------------------------------------- --}}
                                    <div class="details-filter-row details-row-size">



                                    </div><!-- End .details-filter-row -->

                                    <div class="product-details-action">
            {{!-- ------------------------------------------------------------------------------------------------------------------------------------                             --}}
                                        <a href="/add-to-cart/{{products._id}}" class="btn-product btn-cart"><span>add to cart</span></a>

                                        <div class="details-action-wrapper">
                                            
                                            <a href="/wishlist/{{products._id}}" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                            {{!-- <a href="#" class="btn-product btn-compare" title="Compare"><span>Add to Compare</span></a> --}}
                                        </div><!-- End .details-action-wrapper -->
                                    </div><!-- End .product-details-action -->


                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->
                     </main><!-- End .main -->



<script src="\javascripts\jquery.ez-plus.js"></script>
<script>

$(".zoom_05").ezPlus();
</script>

    <script>
        function changeQuantity(cartId, productId, userId, count) {
            let qty = document.getElementById(productId).innerHTML
            let Price = document.getElementById(productId+'price').innerHTML


            qty = parseInt(qty)
            count = parseInt(count)
            Price = parseInt(Price)

            $.ajax({
                url: '/change-product-quantity',
                data: {

                    cart: cartId,
                    product: productId,
                    user: userId,
                    count: count,
                    qty: qty
                },
                method: 'post',
                success: (response) => {
                   
                    console.log(response)
                    if (response.response) {
                        document.getElementById(productId).innerHTML = qty + count
                        Price = parseInt(Price)
                        document.getElementById(productId + 'total').innerHTML = document.getElementById(productId).innerHTML * Price
                        document.getElementById('grand').innerHTML=response.grandTotal
                        grandTotal=document.getElementById('grand').innerHTML
                        
                            console.log(grandTotal);  
                    }
                    else {  
                  
                        alert("product removed from cart")
                        location.reload()
                 

                    }
                }
            })
        }

    </script>
{{!-- 
<script>
    document.getElementById('product-details-quantity')
</script> --}}

    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
  
</body>


<!-- molla/product.html  22 Nov 2019 09:55:05 GMT -->
</html>