<!DOCTYPE html>
<html lang="en">


<!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/nouislider/nouislider.css">
</head>

<body>
    <div class="page-wrapper">


        <main class="main">

            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                       
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">

                			</div><!-- End .toolbox -->


                           

                            <div class="products mb-3">
                                 {{#each products}}
                                <div class="product product-list">
                                     
                                    <div class="row">
                                        <div class="col-6 col-lg-3">
                                            <figure class="product-media">
                                                
                                                <a href="/product/{{this._id}}">
                                                    <img src="/images/product/{{this.img.[0]}}"   alt="Product image" class="product-image">
                                                </a>
                                            </figure><!-- End .product-media -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-6 col-lg-3 order-lg-last">
                                            
                                            <div class="product-list-action">
                                                


                                                   {{#if this.originalPrice}}
                                                <div class="text-danger" style="align-items:center; flex-flow:wrap; font-weight:400; font-size:1.6rem; line-height:1.25;">
                                                    
                                                      ₹<s>{{this.originalPrice}}</s><br>
                                                       </div>
                                                       <div  class="product-price">
                                                       Price:₹{{this.Price}}
                                                      </div>
                                                          {{else}}
                                                            <div class="product-price">
                                                             Price:₹{{this.Price}}                                                                                                                                                                                              
                                                           </div><!-- End .product-price -->
                                                           {{/if}} 



                                                <a href="/add-to-cart/{{this._id}}" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-list-action -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-lg-6">
                                            <div class="product-body product-action-inner">
                                                <a href="#" class="btn-product btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                                <div class="product-cat">
                                                    <a href="#">{{this.brand}}</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="product.html">{{this.laptops}}</a></h3><!-- End .product-title -->

                                                <div class="product-content">
                                                    <p>{{this.description}} </p>
                                                </div><!-- End .product-content -->
                                                
                                                <div class="product-nav product-nav-thumbs">
                                                    <a href="#" class="active">
                                                        <img src="/images/product/{{this.img.[0]}}"  style="width:40px ; height: 40px;" alt="product desc">
                                                    </a>
                                                    <a href="#">
                                                        <img src="/images/product/{{this.img.[1]}}"  style="width:40px ; height: 40px;" alt="product desc">
                                                    </a>

                                                    <a href="#">
                                                        <img src="/images/product/{{this.img.[2]}}"  style="width:40px ; height: 40px;" alt="product desc">
                                                    </a>
                                                </div><!-- End .product-nav -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .col-lg-6 -->
                                    </div><!-- End .row -->
                                      
                                </div><!-- End .product -->
                                {{/each}}
                                



                            </div><!-- End .products -->
                            

                			<nav aria-label="Page navigation">
							    <ul class="pagination">
                                    {{#ifEquals '1' currentPage false}}

							        <li class="page-item disabled">
							            <a class="page-link page-link-prev" href="/product-page/?page={{../previous.page}}" aria-label="Previous" tabindex="-1" aria-disabled="true">
							                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
							            </a>
							        </li>

                                    {{else}}
                                     <li class="page-item ">
							            <a class="page-link page-link-prev" href="/product-page/?page={{../previous.page}}" aria-label="Previous" tabindex="-1" aria-disabled="true">
							                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
							            </a>
							        </li>
                                    {{/ifEquals}}
                                     {{#each pages}}
                                    
                              
                                   
							        
                                    <li class="page-item"><a class="page-link" href="/product-page/?page={{this}}">{{this}}</a></li>
                                  
                                    {{/each}}


                                   {{#ifEquals pageCount currentPage false}}
							        <li class="page-item disabled">
							            <a class="page-link page-link-next" href="/product-page/?page={{../next.page}}" aria-label="Next">
							                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
                                    {{else}}
                                    	 <li class="page-item ">
							            <a class="page-link page-link-next" href="/product-page/?page={{../next.page}}" aria-label="Next">
							                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
                                    {{/ifEquals}}
							    </ul>
							</nav>
                		</div><!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					<a href="#" class="sidebar-filter-clear">Clean All</a>
                				</div><!-- End .widget widget-clean -->

                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->
                                    
                                     
									<div class="collapse show" id="widget-1">
										<div class="widget-body">
                                            {{#each category}}
											<div class="filter-items filter-items-count">

                                                

												<div class="filter-item">
                                                    <form action="/categoryFilter" method="post">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="brandname" value="{{this._id}}" class="custom-control-input" id="cat{{this._id}}" >

                                                           
														<label class="custom-control-label" for="cat{{this._id}}">{{this.brandname}}</label>
													</div><!-- End .custom-checkbox -->
                                                    
													<span class="item-count">3</span>
												</div><!-- End .filter-item -->

												

                                            
											</div><!-- End .filter-items -->
                                            {{/each}}
										</div><!-- End .widget-body -->
                                        <button type="submit" class="btn btn-primary">Filter</button>
                                        </form>
									</div><!-- End .collapse -->
                                    
        						</div><!-- End .widget -->







        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
									        Price
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-5">
										<div class="widget-body">
                                            <div class="filter-price">
                                                <div class="filter-price-text">
                                                    Price Range:
                                                    <span id="filter-price-range"></span>
                                                </div><!-- End .filter-price-text -->

                                                <div id="price-slider"></div><!-- End #price-slider -->
                                            </div><!-- End .filter-price -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->



	      
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            


            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    





        <script>
        function brand(id) {
            console.log('________________')
              console.log(id)
            console.log(id.id)
             console.log('________________')
            
           
            
      
            id.checked ?
                "continue" : "skip"
            console.log('iiiiiiiiiiiiiiiiiiiii')


            

            $.ajax({
                url:'/categoryFilter',
                data: {
                    brand:id,
                },
                type:'post',
                success:(response) => {

                    alert("kitti mone")
                    console.log('/////////////' + response)
                    location.href = '/categorypagetwo'

                }
            })
        }

    </script>

    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/wNumb.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/nouislider.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
</body>


<!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
</html>